// Fonts
$sansserif: 'sharp', sans-serif;
$serif: 'utopia-std', 'Georgia', serif;
$monospace: Monaco, Consolas, 'Ubuntu Mono', Cantarell, monospace;

// Palette
$darkgray: #131311;
$charcoal: #2e2e2a;
$mediumgray: #716f69;
$lightgray: #dedbd6;

$light: #fff;


//Brand colours

$brand-yellow: #ffe701;
$brand-blue: #01ace0;
$brand-green: #13be00;
$brand-red: #eb4843;
