@import "../../../../sass/vars.scss";
@import "../../Container/Container.scss";

.serif {
  font-family: $serif;
}
.sansserif {
  font-family: $sansserif;
}
.monospace {
  font-family: $monospace;
}
.big {
  font-size: 20px;
  font-size: 2rem;
}

// Link States
//  ----------------------------
.noState {
  color: $brand-green;
}
.mouseOver {
  color: darken($brand-green, 15%);
}
.visited {
  color: purple;
}
.active {
  color: darken($brand-green, 15%);
}
.focused {
  color: $brand-green;
  border: 1px dotted darken($brand-green, 15%);
}

// Actual Styles to port to website
//  ------------------------------

// Headings
h1, h2, h3, h4 {
  font-family: $sansserif;
  font-weight: normal;

  margin: 0 0 1em 0;
  padding: 0;
}
h1, .qs_heading1 {
  font-size: 36px;
  font-size: 3.6rem;
}
h2, .qs_heading2 {
  font-size: 24px;
  font-size: 2.4rem;
}
h3, .qs_heading3 {
  font-size: 18px;
  font-size: 1.8rem;

}
h4, .qs_heading4 {
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}
.qs_codeBlock {
  composes: qs_codeBlock from "../../UIComponents/Code/Code.scss";
}
.qs_codeInline {
  composes: qs_codeInline from "../../UIComponents/Code/Code.scss";
}
.qs_pageTitle {
  font-size: 40px;
  font-size: 4rem;
}
