@import "../../../../qsstyles/sass/_palette.scss";
@import "../../../../qsstyles/sass/_fonts.scss";

.serif {
  font-family: $serif;
}
.sansserif {
  font-family: $sansserif;
}
.monospace {
  font-family: $monospace;
}
.big {
  font-size: 20px;
  font-size: 2rem;
}

// Link States
//  ----------------------------
.noState {
  color: $brand-green;
}
.mouseOver {
  color: darken($brand-green, 15%);
}
.visited {
  color: purple;
}
.active {
  color: darken($brand-green, 15%);
}
.focused {
  color: $brand-green;
  border: 1px dotted darken($brand-green, 15%);
}
