@import "../../../qsstyles/sass/_palette.scss";

.containerHeader {
  color: $white;
  background-color: $mediumgray;
  padding: 30px;

  h1 {
    margin: 0;
  }
}
.bgLight {
  background-color: $white;
}
.bgMedium {
  background-color: $lightgray;
}
.pageSection {
  padding: 60px 30px;
}
.examplesList {
  list-style: none;

  li {
    background-color: rgba($lightgray, 0.25);
    padding: 30px;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .bgMedium & {
    li {
      background-color: rgba($white, 0.35);
    }
  }
}
