@import "../../qsstyles/sass/_palette.scss";
@import "../../qsstyles/sass/_fonts.scss";

.sidebarActive {
  color: $brand-blue !important;
}
.topLevel {
  list-style: none;
  padding: 15px;
  & > li {
    background-color: $white;
    padding: 15px;
  }
  & > li:nth-child(2n+1) {
  }
  h4 {
    display: block;
    text-transform: uppercase;
    font-family: $sansserif;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  a,
  a:visited {
    color: $black;
  }
}
.secondLevel {
  margin-bottom: 0;
  padding-left: 15px;

  li {
    margin-bottom: 5px;
    list-style-type: none;
  }
}
