.swatchList {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.swatchItem {
  flex: 0 1 auto;
  margin-bottom: 15px;
  margin-right: 15px;
}
