@import "sass/vars.scss";

@font-face {
	font-family: 'sharp';
	src:url('./fonts/SharpSansNo1-Semibold.eot');
	src:url('./fonts/SharpSansNo1-Semibold.eot') format('embedded-opentype'),
		url('./fonts/SharpSansNo1-Semibold.woff') format('woff'),
		url('./fonts/SharpSansNo1-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sharp';
	src:url('./fonts/SharpSansNo1-Bold.eot');
	src:url('./fonts/SharpSansNo1-Bold.eot') format('embedded-opentype'),
		url('./fonts/SharpSansNo1-Bold.woff') format('woff'),
		url('./fonts/SharpSansNo1-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.container {
  display: flex;
  flex-flow: row wrap;
}
.main {
  flex: 10 0px;
  order: 2;
  padding: 15px;
}
.sidebar {
  flex: 1 auto;
  order: 1;
  padding: 15px;
  border-right: 1px solid $lightgray;
}
.footer  {
  padding: 15px;
  border-top: 1px solid $lightgray;
}
h1, h2, h3, h4 {
  font-family: $sharp;
  font-weight: normal;
}
body {
  font-family: $serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
a {
  text-decoration: none;
}
