.qs_CodeBlock {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.75;
  margin-bottom: 1.5em;

  code {
    font-family: $monospace;
    padding: 15px;
  }
}
.qs_CodeInline {
  font-size: 12px;
  font-size: 1.2rem;
  font-style: normal;
  font-family: $monospace;

  word-break: keep-all;

  color: darken($brand-blue, 20%);
  background-color: rgba($lightgray, .5);

  border: 1px solid rgba($lightgray, .7);
  border-radius: 3px;

  padding: 1px 5px;
  vertical-align: middle;

  .qs_Bg--lightgray & {
    background-color: rgba($white, .5);
    border: 1px solid rgba($white, .7);
  }
}
