// Palette
$black: #252521;
$darkgray: #2e2e2a;
$mediumgray: #716f69;
$lightgray: #dad8d0;
$white: #fff;


//Brand colours
$brand-yellow: #ffe701;
$brand-blue: #01ace0;
$brand-green: #13be00;
$brand-red: #eb4843;
